.ios {
    page-home-tab {
      super-tabs-toolbar>ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button ion-icon {
        font-size: 30px;
        
      }
  
      .text-ios-dark {
        color: #222;
        font-size: .8em !important;
        margin-left: -.5em;
      }
  
      super-tabs-toolbar>ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button.title-and-icon ion-icon {
        margin-bottom: 5px !important;
      }
      super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container {
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-user-drag: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        overflow: hidden;
      }
    }
  }
  
  .md {
    page-home-tab {
      super-tabs-toolbar>ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button ion-icon {
        font-size: 25px;
      }
  
      super-tabs-toolbar>ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button.title-and-icon ion-icon {
        margin-bottom: 5px !important;
      }
      super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container {
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-user-drag: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        overflow: visible;
        padding-right: .7em;
      }
      super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button .title {
        vertical-align: middle;
        display: block;
        font-size: .8em;
        margin-left: -.5em;
    }
    }
  }
  
  
  .toolbar-md-light .toolbar-background-md {
    background: none !important;
    border-color: transparent !important;
  }
  
  .toolbar-background-md {
    border-color: transparent !important;
    background: none !important;
  }
  
  .toolbar-title-md {
    /* padding: 0 12px; */
    font-size: 2rem;
    font-weight: 500;
    color: #424242;
    text-align: center !important;
    margin-left: -1em !important;
  }
  