page-home {

}
page-home {
  
}
.toolbar-title-md {
    // padding: 0 3em !important;
    font-size: 2rem;
    font-weight: 500;
    color: #424242;
    text-align: center !important;
    margin-left: -.5em !important;
}
.toolbar-md {
  padding: 5px;
min-height: 0 !important; 
}