<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-searchbar [(ngModel)]="inboxsearchTerm" (ionCancel)="onInboxCancel($event)" [showCancelButton]="true"
    (ionClear)="onInboxClear($event)" (ionInput)="searchInboxMessages()" class="half-margintop"></ion-searchbar>
  <div class="dropdown-content-body dropdown-scrollable ">
    <ul class="media-list mt-2">
      <li class="media mb-3 " *ngFor="let inboxmsg of inboxmsgs" (click)="onMsgDetails(inboxmsg.id, inboxmsg)">
        <div class="position-relative mr-3">
          <img src="assets/imgs/icon.png" width="36" height="36" class="rounded-circle" alt="">
        </div>

        <!-- <div class="media-body " *ngIf="inboxmsg.is_read == 1"> -->
        <div class="media-body read">
          <div class="media-title ">
            <a href="#">
              <span class="font-weight-semibold">{{inboxmsg.SenderName}}</span>
              <span class="text-muted float-right font-size-sm">{{inboxmsg.msgdate}}</span>
            </a>
          </div>

          <span class="text-muted">{{inboxmsg.subject}}</span>
        </div>
      </li>
    </ul>
    <div class="marginleft paddingleft marginright paddingright marginbottom margintop" *ngIf="noinboxmsg === 'noinboxmsg'">
      No Messages
    </div>
  </div>
</ion-content>
